{
  'trainer' : {
    'benchmark' : True,
    'check_val_every_n_epoch' : 5,
    'gradient_clip_val' : 0.0, # 0 means no
    'log_gpu_memory' : True, # Just log
    'max_epochs' : 20,
    'num_sanity_val_steps' : 2,
  },

  'batch_size' : 128,

  'model' : {
    'depth' : 18,
    'num_classes' : 40,
    'pretrained' : True,
  },

  'criterion' : {
    'type' : 'CrossEntropyLoss',
  }

  'optimizer' : {
    'type' : 'sgd',
    'lr' : 0.001,
    'momentum' : 0.9,
    'weight_decay' : 1e-4,
    # 'type' : 'adam'
  },

  'scheduler' : {
    'type' : 'LambdaLR',
    'lr_lambda' : lambda epoch : 0.99 ** epoch,
  },


  'train_dataset' : {
    'path' : '',
    'transform' : {
      'type' : 'Compose',
      'params' : [
        ('RandomCrop' , ([32], {'padding' : 4})),
        ('RandomHorizontalFlip', ([], {})),
        ('ColorJitter', ([0.1, 0.1, 0.1, 0.1], {})),
        ('RandomRotation', ([5], {})),
        ('ToTensor' , ([], dict())),
        ('Normalize' , ([(0.5, 0.5, 0.5), (0.5, 0.5, 0.5)], dict()))
      ]
    },
  },
  'valid_dataset' : {
    'path' : '',
    'transform' : {
      'type' : 'Compose',
      'params' : [
        ('ToTensor' , ([], dict())),
        ('Normalize' , ([(0.5, 0.5, 0.5), (0.5, 0.5, 0.5)], dict()))
      ],
    }
  },
  'test_dataset' : {
    'path' : '',
    'transform' : {
      'type' : 'Compose',
      'params' : [
        ('ToTensor' , ([], dict())),
        ('Normalize' , ([(0.5, 0.5, 0.5), (0.5, 0.5, 0.5)], dict()))
      ],
    }
  },
}
